<div class="main_container">
    <div class="container">
        <div class="left">
            <img class="card_image" src="{{cardData['image']}}" alt="" />
            <div class="card_sub_detail">
                <div class="card_name" style="color:#0dcaf0;">{{cardData['name']}}</div>
                <div class="card_exp" style="color: #e0502c;">Experience: {{cardData['experience']}}</div>
            </div>
        </div>
         <div class="right">
        <p class="card_description">{{cardData['description']}} Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, nostrum excepturi error amet sint ex non voluptatibus porro sapiente! </p>

        <div class="card_button">
            <button type="button" class="button" (click)="openForm(cardData)">Book Appoinment</button>
        </div>
         </div>

    </div>


</div>